h1 {
	color: red;
	text-transform: uppercase;
	text-align: center;
	background-color: grey;
} 

h2 {
	color: grey;
	text-align: center;
	text-decoration: none;
}

h3 {
	color: green;
	text-align: center;
	text-decoration: none;
}

div {
	border: 2px solid grey;
}

#chapter-11 {
	text-decoration: underline;
}

#chapter-12 {
	font-style: italic;
}

#chapter-13 {
	text-decoration: line-through;
}
